<h3>配送先編集</h3>

<%= form_with model:@addre, local:true do |f| %>
  郵便番号（ハイフンなし）<%= f.text_field :postal_code %><br>
  住所<%= f.text_field :address %><br>
  氏名<%= f.text_field :name %><br>
  <%= f.submit '変更内容を保存' %>
<% end %>