<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>ジャンル一覧・追加</h1>
      <br>
      <div class="form-horizontal" role="form">
        <%= form_for(@genre, url: admin_genres_path) do |f| %>
          <div class="form-group">
            <div class="col-xs-8">
              <!--ジャンル名の入力フォーム-->
              <strong><%= f.label :name, "ジャンル名"%></strong>
              <%= f.text_field :name, autofocus: true %>

              <!--新規登録ボタン-->
              <%= f.submit "新規登録", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-6">
          <table class="table">
            <tr>
              <th><strong>ジャンル</strong></th>
            </tr>
            <% @genres.each do |genre| %>
              <tr>
                <td><%= genre.name %></td>
                <td>
                </td>
                <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-primary"  %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>