<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2>会員編集</h2>
      <%= form_with model: @customer, url: customers_path, local:true do |f| %>
        <div class="form-group">
          <h4>氏名</h4>
          <%= f.label "(姓)" %>
          <%= f.text_field :last_name, class: "form-control-file last_name" %>
          <%= f.label "(名)" %>
          <%= f.text_field :first_name, class: "form-control-file first_name" %>
          </div>
        <div class="form-group">
          <h4>カナ</h4>
          <%= f.label "(セイ)" %>
          <%= f.text_field :last_name_kana, class: "form-control-file last_name_kana" %>
          <%= f.label "(メイ)" %>
          <%= f.text_field :first_name_kana, class: "form-control-file first_name_kana" %>
        </div>
        <div class="form-group">
          <h4>郵便番号</h4>
          <%= f.text_field :postal_code, class: "form-control-file postal_code" %>
        </div>
        <div class="form-group">
          <h4>住所</h4>
          <%= f.text_field :address, class: "form-control-file address" %>
        </div>
        <div class="form-group">
          <h4>電話番号</h4>
          <%= f.text_field :telephone_number, class: "form-control-file telephone_number" %>
        </div>
        <div class="form-group">
          <h4>メールアドレス</h4>
          <%= f.email_field :email, class: "form-control-file email" %>
        </div>
        <div class="form-group">
          <%= f.submit '編集内容を保存', class: 'btn btn-secondary' %>
          <%= link_to '退会', unsubscribe_path, class: "btn btn-outline-secondary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


