<h3>配送先登録/一覧</h3>

<!--配送先新規登録フォーム-->
<%= form_with(model:[@addre], local: true) do |f| %>
  郵便番号（ハイフンなし）<%= f.text_field :postal_code %>
  住所<%= f.text_field :address %>
  氏名<%= f.text_field :name %>
  <%= f.submit "新規登録" %>
<% end %>

<!--配送先一覧-->
<table class="table", display: block>
  <% @addres.each do |addre| %>
  <thead>
    <tr>
      <th>
        郵便番号
      </th>
      <th>
        住所
      </th>
      <th>
        宛名
      </th>
      <th></th>
    </tr>
    <tr>
      <th>
        <%= addre.postal_code %>
      </th>
      <th>
        <%= addre.address %>
      </th>
      <th>
        <%= addre.name %>
      </th>
      <th>
        <%= link_to "編集する", edit_addre_path(@addre.id) %>
        <%= link_to "削除する", addre_path(@addre), method: :delete, "data-confirm" => "本当に削除しますか？" %>
      </th>
    </tr>
  </thead>
</table>

